#welcome-message {
    display: inline-block !important;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0;
}

#header-buttons {
    text-align: right;
    padding-top: 14px;
    padding-bottom: 14px;
    button {
    }
}
