#home-layout {
    //max-width: 960px;
    margin: 0 auto;
    padding: 0;
    .mdl-cell {
        width: 100%;
        margin: 0;
        &:nth-child(odd) {
            background-color: #ffffff;
        }
        div {
            max-width: 960px;
            margin: 0 auto;
            padding: 16px;
            p {
                font-size: 16px;
            }
        }
        #home-logo {
            margin: 0 auto;
            text-align: center;
        }
    }
    .dashboard-tab {
        text-align: center;
    }
    ul, li {
        width: 100%;
    }
    li {
        @include shadow-2dp;
        margin-bottom: 1px;
        background-color: #ffffff;
    }
    .action-button {
        text-align: center;
        button {
            width: 100%;
            max-width: 300px;
        }
    }
    .tab-button {
        text-align: center;
        button {
            width: 100%;
            max-width: 240px;
        }
    }
    .message-box {
        text-align: center;
        p {
            font-size: 16px;
            width: auto;
            padding: 16px 24px;
            background-color: white;
            opacity: 0.87;
            //@include shadow-2dp;
        }
    }
    form .mdl-card {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        .mdl-textfield, .mdl-radio {
            width: 100%;
        }
    }
}
